# ============================================================
# PROJECT
# ============================================================

PROJECT_NAME=fraud-detection
ENV=local


# ============================================================
# AWS / S3
# ============================================================

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=eu-west-3

S3_BUCKET_NAME=your-s3-bucket-name
S3_RAW_DATA_KEY=data/raw/fraudTest.csv
S3_PROCESSED_DATA_KEY=data/processed/training_dataset.parquet
S3_REPORTS_PREFIX=reports/daily/
S3_PRODUCTION_MODEL_KEY=mlflow/production/fraud_pipeline.joblib
S3_PRODUCTION_MODEL_METADATA_KEY=mlflow/production/model_metadata.json


# ============================================================
# MLFLOW
# ============================================================

MLFLOW_TRACKING_URI=https://your-mlflow-server-url
MLFLOW_EXPERIMENT_NAME=fraud-detection
MLFLOW_ARTIFACT_ROOT=s3://your-s3-bucket-name/mlflow/artifacts
MLFLOW_BACKEND_STORE_URI=postgresql://user:password@host/neondb?sslmode=require
MLFLOW_MODEL_NAME=fraud_detection_model

MLFLOW_ALLOWED_HOSTS=*
MLFLOW_CORS_ALLOWED_ORIGINS=*


# ============================================================
# APPLICATION DATABASE - NEONDB
# ============================================================

FRAUD_DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require


# ============================================================
# REAL-TIME PAYMENT API
# ============================================================

PAYMENT_API_URL=https://your-payment-api-url
PAYMENT_API_CURRENT_TRANSACTIONS_ENDPOINT=/current-transactions


# ============================================================
# PREDICTION API
# ============================================================

PREDICTION_API_URL=https://your-prediction-api-url
PREDICTION_API_HEALTH_ENDPOINT=/health
PREDICTION_API_PREDICT_ENDPOINT=/predict


# ============================================================
# FRAUD ALERTS
# ============================================================

FRAUD_ALERT_THRESHOLD=0.90

NOTIFICATION_CHANNEL=discord
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token


# ============================================================
# AIRFLOW
# ============================================================

AIRFLOW_INGESTION_SCHEDULE=*/2 * * * *
AIRFLOW_DAILY_REPORT_SCHEDULE=0 8 * * *
AIRFLOW_TRAINING_SCHEDULE=

# ============================================================
# GitHub CI
# ============================================================

GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_BRANCH=main
GITHUB_TOKEN=

# ============================================================
# CD modèle
# ============================================================

PROMOTION_PRIMARY_METRIC=average_precision
PROMOTION_MIN_GAIN=0.01
PROMOTION_MAX_RECALL_DROP=0.02
PROMOTION_MIN_PRECISION_FRAUD=0.10