# ============================================================
# ENV / SECRETS
# ============================================================

.env
.env.*
!.env.example


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/


# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

.venv/
venv/
env/
ENV/


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# AIRFLOW
# ============================================================

logs/
airflow.db
standalone_admin_password.txt
dags_disabled/


# ============================================================
# DATA / ARTIFACTS
# ============================================================

data/
*.csv
*.parquet
*.joblib
*.pkl
*.pickle
*.jsonl


# ============================================================
# MLFLOW
# ============================================================

mlruns/
mlartifacts/


# ============================================================
# DOCKER / LOCAL
# ============================================================

*.log
.DS_Store
Thumbs.db


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# DOCKER / AIRFLOW LOCAL VOLUMES
# ============================================================

postgres_data/
airflow_logs/
airflow.cfg
webserver_config.py


# ============================================================
# BUILD / PACKAGING
# ============================================================

build/
dist/
*.egg-info/


# ============================================================
# CREDENTIALS / KEYS
# ============================================================

*.pem
*.key
credentials.json
token.json

# ============================================================
# FOLDERS
# ============================================================

mcolson-fraud-prediction-api/